.card,
.placeholder {
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  padding: 20px;
  margin-bottom: 20px;
}
.card h3,
.placeholder h3 {
  margin-top: 0;
  margin-bottom: 25px;
}
.card .content,
.placeholder .content {
  padding: 0;
}
.card.width-normal,
.placeholder.width-normal {
  width: 32%;
}
.card.width-big,
.placeholder.width-big {
  width: 66%;
}
.card.height-normal,
.placeholder.height-normal {
  height: 280px;
}
.card.height-big,
.placeholder.height-big {
  height: calc(580px);
}
#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
