.dragsort {
  max-width: 100%;
  overflow: hidden;
}
.dragsort .items {
  padding-left: 0;
}
.dragsort .items .item {
  list-style: none;
  border-radius: 3px;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
  display: block;
  padding: 15px;
  background-color: #FFF;
  margin-bottom: 20px;
  cursor: pointer;
  transition: box-shadow 300ms ease, background-color 300ms ease, border-color 300ms ease;
}
.dragsort .items .item.level-1 {
  margin-left: 30px;
}
.dragsort .items .item.level-2 {
  margin-left: 60px;
}
.dragsort .items .item.level-3 {
  margin-left: 90px;
}
.dragsort .items .item:hover {
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}
.dragsort .items .item .actions {
  float: right;
}
.dragsort .items .item .actions a:hover i {
  color: #343434;
}
.dragsort .items .item .actions a i {
  transition: 200ms;
  font-size: 18px;
  margin-right: 5px;
  color: #ABABAB;
}
.dragsort .items .placeholder {
  border: 1px dashed #ededed;
  min-height: 60px;
  margin-bottom: 20px;
  list-style: none;
}
.dragsort .items .placeholder.level-1 {
  margin-left: 30px;
}
.dragsort .items .placeholder.level-2 {
  margin-left: 60px;
}
.dragsort .items .placeholder.level-3 {
  margin-left: 90px;
}
