.seatplan {
  border: 3px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  position: relative;
}
.seatplan.loading .cell {
  opacity: .1;
}
.seatplan .legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.seatplan .legend .label {
  color: #333;
  line-height: 23px;
}
.seatplan .legend .legend-entry {
  display: flex;
  flex-direction: row;
}
.seatplan .cell,
.seatplan .name {
  transition: 300ms;
  width: 17px;
  height: 17px;
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  margin: 4px;
  border-radius: 2px;
  cursor: pointer;
}
.seatplan .cell:hover,
.seatplan .name:hover {
  border-color: #eaeaea;
  background-color: #F0F0F0;
}
.seatplan .cell.available,
.seatplan .name.available {
  background-color: #42A5F5;
  border-color: #1976D2;
}
.seatplan .cell.blocked,
.seatplan .name.blocked {
  background-color: #E6EE9C;
  border-color: #D4E157;
}
.seatplan .cell.spacer,
.seatplan .name.spacer {
  background-color: #607D8B;
  border-color: #455A64;
}
.seatplan .cell.sold,
.seatplan .name.sold {
  background-color: #FFC107;
  border-color: #FF8F00;
}
.seatplan .name {
  font-size: 11px;
  line-height: 21px;
  color: #AAA;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: transparent;
  cursor: default;
}
.seatplan .name:hover {
  background: transparent;
}
.seatplan .s-row,
.seatplan .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.step-buy table tr td:last-child,
.step-buy table tr th:last-child {
  text-align: right;
}
.step-buy table tfoot tr:hover {
  background-color: transparent;
}
.step-buy table tfoot th {
  height: 70px;
  padding-top: 30px;
}
.step-buy table tfoot th.sum {
  text-align: right;
}
.summary {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 14px;
  padding-right: 20px;
  flex-direction: column;
}
.summary .totals {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.summary .totals,
.summary .checkout {
  display: flex;
  justify-content: flex-end;
}
.buyed-seats {
  margin-top: 30px;
  margin-bottom: 60px;
}
.step-seat ul li {
  height: 30px;
  background-color: rgba(255,255,255,0.1);
  line-height: 30px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.step-seat ul li input {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}
.add-user {
  margin-top: 60px;
  width: 50%;
}
.add-user form {
  display: flex;
  justify-content: space-between;
}
.add-user form .form-group:first-child {
  width: 70%;
}
#map_canvas {
  width: 100%;
  min-height: 480px;
}
