.form-group {
  margin-bottom: 20px;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}
.form-group input[type="text"],
.form-group input[type="input"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="datetime"] {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 5px 0;
  font-size: 13px;
}
.form-group input[type="text"]:focus,
.form-group input[type="text"]:hover,
.form-group input[type="input"]:focus,
.form-group input[type="input"]:hover,
.form-group input[type="password"]:focus,
.form-group input[type="password"]:hover,
.form-group input[type="number"]:focus,
.form-group input[type="number"]:hover,
.form-group input[type="datetime"]:focus,
.form-group input[type="datetime"]:hover {
  background-color: transparent;
  box-shadow: none;
}
.form-group label {
  transition: 300ms;
  color: #343434;
  font-weight: normal;
  position: absolute;
  top: 18px;
  font-size: 13px;
}
.form-group input[type="checkbox"] {
  width: 16px;
  position: absolute;
  top: -3px;
  right: 0;
}
.form-group input[type="checkbox"]:focus,
.form-group input[type="checkbox"]:hover {
  box-shadow: none;
}
.form-group input[type="checkbox"] + small {
  position: relative;
  top: 30px;
}
.form-group label + textarea {
  margin-top: 10px;
  height: 200px;
  border-radius: 0px;
  box-shadow: none;
}
.form-group label + textarea:focus {
  box-shadow: none;
  border-color: #343434;
}
.form-group.select {
  max-width: 500px;
}
.form-group.select:after {
  content: 'arrow_drop_down';
  position: absolute;
  right: 0;
  font-size: 18px;
  bottom: -25px;
  font-family: 'Material Icons';
}
.form-group select {
  border-radius: 0px;
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  padding-left: 0;
  border-top: none;
  box-shadow: none;
  border-left: 0;
  border-right: 0;
  appearance: none;
  -webkit-appearance: none;
  max-width: 500px;
  background-color: transparent;
}
.form-group select:focus {
  box-shadow: none;
  border-color: inherit;
}
.form-group.select label,
.form-group.focus label {
  color: #ABABAB;
  font-size: 11px;
  top: 0px;
}
.form-group.select label {
  top: 30px;
}
.form-group small {
  color: #ABABAB;
  font-size: 80%;
  font-style: italic;
}
.img-select {
  margin-top: 30px;
}
.img-select > .form-group {
  padding: 0;
  margin: 0;
}
