.media-library {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}
.media-library a {
  display: block;
  max-width: 17%;
  min-width: 300px;
  height: 180px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 3px solid white;
  transition: 300ms;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
}
.media-library a.active {
  border-color: #ABABAB;
}
.media-library a.set-value {
  border-color: #343434;
}
.media-library a img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.media-detail {
  margin-top: 20px;
}
.media-detail img {
  background-color: #F2F2F2;
  max-height: 400px;
  max-width: 100%;
}
