.table-editbar {
  background-color: #fafafa;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.table-editbar .left,
.table-editbar .right {
  display: flex;
}
.table-editbar .left .form-group input,
.table-editbar .left .form-group.select {
  border-right: 1px solid rgba(0,0,0,0.12);
}
.table-editbar .right .form-group input,
.table-editbar .right .form-group.select {
  border-left: 1px solid rgba(0,0,0,0.12);
}
.table-editbar .form-group {
  margin: 0;
  padding: 0;
  min-width: 240px;
}
.table-editbar .form-group.focus label {
  top: 0;
}
.table-editbar .form-group label {
  top: 9px;
}
.table-editbar .form-group input {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 12px;
}
.table-editbar .form-group.select {
  padding: 0 10px;
}
.table-editbar .form-group.select:after {
  top: 4px;
}
.table-editbar .form-group.select label {
  top: 0;
}
.table-editbar .form-group.select select {
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 12px;
}
