table.default {
  width: 100%;
}
table.default thead {
  border: 1px solid #EAEAEA;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
  background-color: #FAFAFA;
}
table.default tr th {
  line-height: 30px;
  padding: 10px 20px;
  font-size: 11px;
  font-weight: 500;
  color: #212121;
  text-transform: uppercase;
}
table.default tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}
table.default tbody tr.hasAction {
  cursor: pointer;
}
table.default tbody tr:hover td {
  background-color: rgba(0,0,0,0.02);
}
table.default tbody tr td {
  padding: 3px 20px;
  line-height: 40px;
  transition: 300ms;
}
table.default tbody tr td:first-child {
  font-weight: 400;
}
table.default tbody tr td div.actions a.btn-icon-container {
  margin-right: 5px;
}
table.default tbody tr td.actions a {
  display: inline-block;
  padding-top: 12px;
  margin-right: 3px;
}
table.default tbody tr td.actions a i {
  font-size: 16px;
}
table.default tbody tr td i {
  font-size: 16px;
  display: block;
  color: #ABABAB;
}
