.dropzone {
  width: 100%;
  border: 3px #f0f0f0 dashed;
  transition: 300ms;
  padding: 30px 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: #d0d0d0;
  border-radius: 5px;
  float: left;
  cursor: pointer;
}
.dropzone.dz-drag-hover {
  border-color: #66BB6A;
  border-radius: 8px;
  color: #66BB6A;
}
.dropzone .dz-preview {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.dropzone .dz-success-mark,
.dropzone .dz-error-mark,
.dropzone .dz-details {
  display: none;
}
