.nav.navbar-nav li a.icon {
  padding-left: 25px;
  padding-right: 25px;
}
.overlay-right .close {
  float: none;
  cursor: pointer;
  padding: 5px 0 0 5px;
  color: #333;
}
a.ajax {
  transition: 300ms;
}
.bgc-white {
  background-color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -40px;
}
.grid .block {
  display: flex;
  height: 120px;
  width: 380px;
  padding: 20px;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  position: relative;
  margin-left: 20px;
  margin-top: 60px;
}
.grid .block.active {
  background-color: #fafafa;
  border-color: #f0f0f0;
}
.grid .block.active .img {
  background-color: #FFF;
}
.grid .block .content {
  min-height: auto;
}
.grid .block .content h4 {
  margin: 0;
}
.grid .block .content p {
  max-height: 40px;
  overflow: hidden;
}
.grid .block .button {
  position: absolute;
  width: 100%;
  padding: 7px 0px;
  line-height: 22px;
  bottom: -38px;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.grid .block .img {
  background-color: #fafafa;
  width: 78px;
  min-width: 78px;
  height: 78px;
  text-align: center;
  white-space: nowrap;
  margin-right: 20px;
  border-radius: 3px;
}
.grid .block .img .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.grid .block .img img {
  width: 60px;
  vertical-align: middle;
}
