.login {
  margin-top: 60px;
}
.content {
  min-height: 400px;
}
.content.sticky {
  margin-top: 65px;
}
.padded {
  padding: 20px 40px;
}
.align-right > * {
  float: right;
}
.fadeOut {
  opacity: 0;
  transition: 250ms;
}
.fadeIn {
  opacity: 0;
}
.fadeIn.now {
  transition: 250ms;
  opacity: 1;
}
.width-200 {
  width: 200px;
}
.center {
  text-align: center;
}
