.media-library {
  clear: both;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.media-library > a {
  display: block;
  width: 180px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.media-library > a img {
  width: 180px;
  height: auto;
}
.media-library > a > div {
  width: 100%;
  height: 100%;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  padding: 20% 8%;
  text-align: center;
}
