.overlay-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0%;
  z-index: 1031;
}
.overlay-container.show {
  left: 0;
}
.overlay-container.show .overlay-right {
  right: 0;
}
.overlay-container.show .cover {
  opacity: 1;
}
.overlay-container .overlay-right {
  position: fixed;
  right: -80%;
  top: 0;
  bottom: 0;
  width: 50%;
  overflow-y: auto;
  overflow-x: visible;
  padding-top: 40px;
  background-color: #FFF;
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  border-left: 1px solid #EAEAEA;
  z-index: 1032;
  animation-timing-function: ease-in;
  transition: 250ms;
}
.overlay-container .overlay-right.big {
  width: 70%;
}
.overlay-container .overlay-right .close {
  opacity: 1;
  display: block;
  position: absolute;
  top: 12px;
  background-color: #FFF;
  padding: 20px;
  left: 17px;
  color: #404040;
  transition: 200ms;
}
.overlay-container .overlay-right .close:hover {
  left: 20px;
}
.overlay-container .cover {
  z-index: 1031;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: 250ms;
}
.full-overlay-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1042;
  opacity: 0;
}
.full-overlay-container.show {
  opacity: 1;
}
.full-overlay-container .overlay-full {
  position: fixed;
  right: 10%;
  top: 10%;
  bottom: 10%;
  left: 10%;
  overflow-y: auto;
  background-color: #FFF;
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.25);
  z-index: 1044;
  animation-timing-function: ease-in;
  transition: 250ms;
  border-radius: 4px;
  -webkit-animation: bounce_smush 750ms linear both;
  animation: bounce_smush 750ms linear both;
}
.full-overlay-container .cover {
  z-index: 1043;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  transition: 250ms;
}
@-webkit-keyframes bounce_smush {
  0% {
    -webkit-transform: matrix3d(0.5,0,0,0,0,0.5,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.5,0,0,0,0,0.5,0,0,0,0,1,0,0,0,0,1);
  }
  5.81% {
    -webkit-transform: matrix3d(0.742,0,0,0,0,0.711,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.742,0,0,0,0,0.711,0,0,0,0,1,0,0,0,0,1);
  }
  7.61% {
    -webkit-transform: matrix3d(0.812,0,0,0,0,0.768,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.812,0,0,0,0,0.768,0,0,0,0,1,0,0,0,0,1);
  }
  11.41% {
    -webkit-transform: matrix3d(0.935,0,0,0,0,0.869,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.935,0,0,0,0,0.869,0,0,0,0,1,0,0,0,0,1);
  }
  11.61% {
    -webkit-transform: matrix3d(0.94,0,0,0,0,0.873,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.94,0,0,0,0,0.873,0,0,0,0,1,0,0,0,0,1);
  }
  15.12% {
    -webkit-transform: matrix3d(1.014,0,0,0,0,0.941,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.014,0,0,0,0,0.941,0,0,0,0,1,0,0,0,0,1);
  }
  17.42% {
    -webkit-transform: matrix3d(1.045,0,0,0,0,0.973,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.045,0,0,0,0,0.973,0,0,0,0,1,0,0,0,0,1);
  }
  18.92% {
    -webkit-transform: matrix3d(1.058,0,0,0,0,0.99,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.058,0,0,0,0,0.99,0,0,0,0,1,0,0,0,0,1);
  }
  22.72% {
    -webkit-transform: matrix3d(1.071,0,0,0,0,1.019,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.071,0,0,0,0,1.019,0,0,0,0,1,0,0,0,0,1);
  }
  23.12% {
    -webkit-transform: matrix3d(1.071,0,0,0,0,1.021,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.071,0,0,0,0,1.021,0,0,0,0,1,0,0,0,0,1);
  }
  30.23% {
    -webkit-transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
  }
  30.33% {
    -webkit-transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
  }
  37.44% {
    -webkit-transform: matrix3d(1.016,0,0,0,0,1.028,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.016,0,0,0,0,1.028,0,0,0,0,1,0,0,0,0,1);
  }
  44.54% {
    -webkit-transform: matrix3d(0.997,0,0,0,0,1.016,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.997,0,0,0,0,1.016,0,0,0,0,1,0,0,0,0,1);
  }
  50.25% {
    -webkit-transform: matrix3d(0.992,0,0,0,0,1.008,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.992,0,0,0,0,1.008,0,0,0,0,1,0,0,0,0,1);
  }
  51.65% {
    -webkit-transform: matrix3d(0.992,0,0,0,0,1.006,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.992,0,0,0,0,1.006,0,0,0,0,1,0,0,0,0,1);
  }
  70.27% {
    -webkit-transform: matrix3d(1,0,0,0,0,0.998,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,0.998,0,0,0,0,1,0,0,0,0,1);
  }
  80.28% {
    -webkit-transform: matrix3d(1.001,0,0,0,0,0.999,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.001,0,0,0,0,0.999,0,0,0,0,1,0,0,0,0,1);
  }
  100% {
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }
}
@keyframes bounce_smush {
  0% {
    -webkit-transform: matrix3d(0.5,0,0,0,0,0.5,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.5,0,0,0,0,0.5,0,0,0,0,1,0,0,0,0,1);
  }
  5.81% {
    -webkit-transform: matrix3d(0.742,0,0,0,0,0.711,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.742,0,0,0,0,0.711,0,0,0,0,1,0,0,0,0,1);
  }
  7.61% {
    -webkit-transform: matrix3d(0.812,0,0,0,0,0.768,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.812,0,0,0,0,0.768,0,0,0,0,1,0,0,0,0,1);
  }
  11.41% {
    -webkit-transform: matrix3d(0.935,0,0,0,0,0.869,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.935,0,0,0,0,0.869,0,0,0,0,1,0,0,0,0,1);
  }
  11.61% {
    -webkit-transform: matrix3d(0.94,0,0,0,0,0.873,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.94,0,0,0,0,0.873,0,0,0,0,1,0,0,0,0,1);
  }
  15.12% {
    -webkit-transform: matrix3d(1.014,0,0,0,0,0.941,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.014,0,0,0,0,0.941,0,0,0,0,1,0,0,0,0,1);
  }
  17.42% {
    -webkit-transform: matrix3d(1.045,0,0,0,0,0.973,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.045,0,0,0,0,0.973,0,0,0,0,1,0,0,0,0,1);
  }
  18.92% {
    -webkit-transform: matrix3d(1.058,0,0,0,0,0.99,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.058,0,0,0,0,0.99,0,0,0,0,1,0,0,0,0,1);
  }
  22.72% {
    -webkit-transform: matrix3d(1.071,0,0,0,0,1.019,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.071,0,0,0,0,1.019,0,0,0,0,1,0,0,0,0,1);
  }
  23.12% {
    -webkit-transform: matrix3d(1.071,0,0,0,0,1.021,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.071,0,0,0,0,1.021,0,0,0,0,1,0,0,0,0,1);
  }
  30.23% {
    -webkit-transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
  }
  30.33% {
    -webkit-transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.049,0,0,0,0,1.036,0,0,0,0,1,0,0,0,0,1);
  }
  37.44% {
    -webkit-transform: matrix3d(1.016,0,0,0,0,1.028,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.016,0,0,0,0,1.028,0,0,0,0,1,0,0,0,0,1);
  }
  44.54% {
    -webkit-transform: matrix3d(0.997,0,0,0,0,1.016,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.997,0,0,0,0,1.016,0,0,0,0,1,0,0,0,0,1);
  }
  50.25% {
    -webkit-transform: matrix3d(0.992,0,0,0,0,1.008,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.992,0,0,0,0,1.008,0,0,0,0,1,0,0,0,0,1);
  }
  51.65% {
    -webkit-transform: matrix3d(0.992,0,0,0,0,1.006,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(0.992,0,0,0,0,1.006,0,0,0,0,1,0,0,0,0,1);
  }
  70.27% {
    -webkit-transform: matrix3d(1,0,0,0,0,0.998,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,0.998,0,0,0,0,1,0,0,0,0,1);
  }
  80.28% {
    -webkit-transform: matrix3d(1.001,0,0,0,0,0.999,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1.001,0,0,0,0,0.999,0,0,0,0,1,0,0,0,0,1);
  }
  100% {
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }
}
