<div class="padded">
    <h2>{$title}</h2>
    <div class="form-group searchComponentContainer">
        <label class="control-label">{$searchComponentTitle}</label>
        <input type="text" id="searchComponent" />
    </div>
    <div class="components">
        {loop="$components"}
        <div class="card">
            <a href="{$value.url}" class="comp ajax {$value.id}">
                <div class="image">{$value.image}</div>
                <div class="info">
                    <h5>{$value.name}</h5>
                    <small>{$value.description}</small>
                </div>
            </a>
        </div>
        {/loop}
    </div>
</div>
