<div class="form-group{if="$hor"} row{/if}{if="$group_class"} {$group_class}{/if}">
    <label class='control-label{if="$hor"} col-lg-3{/if}{if="$noautocomplete"} readOnlyInput{/if}' {if="isset($id)"}for="{$id}"{/if}>{$label}</label>
{if="$hor"}
    <div class="col-lg-9">
{/if}
    <input class="form-control{if="$error"} has-error{/if}{if="$input_class"} {$input_class}{/if}" {if="isset($id)"}id="{$id}"{/if} name="{$name}" type="{$type}"
        {if="$type=='radio'"}
            {if="$value=='on'"}checked="checked"{/if}
        {/if}
        {if="$type=='checkbox'"}
            {if="$value=='on'"}checked="checked"{/if}
        {/if}
        {if="$noautocomplete"} readonly onfocus="this.removeAttribute('readonly');"{/if}
        {if="$value"}value="{$value}"{/if}
        {if="isset($loadingcontext)"}data-loadingcontext="{$loadingcontext}"{/if}
        {if="isset($getter.url)"}data-getter="{$getter.url}"{/if}
        {if="isset($getter.labels)"}data-tag-labels="{$getter.labels}"{/if}
        {if="isset($getter.convert)"}data-getter-convert="{$getter.convert}"{/if}
        {if="isset($getter.value_key)"}data-getter-value="{$getter.value_key}"{/if}
        {if="isset($getter.label_key)"}data-getter-name="{$getter.label_key}"{/if}
    >
        {if="$error"}<small class="clearfix error-message">{$error}</small>{/if}
    {if="$hint"}<small class="clearfix">{$hint}</small>{/if}
{if="$hor"}
    </div>
{/if}    
</div>