<li {if="$active"}class="active"{/if}>
    <a class="{if="$classes"}{$classes}{/if} {if="$image"}image{/if} {if="$children"}dropdown-toggle{/if}" href="{$url}" title="{$name}"
    {if="$children"} data-toggle="dropdown" role="button" aria-expanded="false"{/if}>
    {if="$icon"}
    <i class="material-icons">{$icon}</i>
    {if="$name"}
        <span>{$name}</span>
    {/if}
    {else}
        {if="$image"}
            <img src="{$image}" alt="{$name}" />
        {else}
            {$name}
        {/if}
    {/if}
    </a>
    {if="$children"}
    <div class="dropdown-menu children" role="menu">
        <ul>
            {$children}
        </ul>
    </div>
    {/if}
</li>