<div class="form-group select {if="$chosen"}contains-chosen{/if}">
    <label class="control-label" for="{$id}">{$label}</label>
    <select class="form-control{if="$chosen"} chosen-select{/if}" {if="$readonly"} readonly {/if} {if="isset($disabled) && $disabled"} disabled="true" {/if} name="{$name}" id="{$id}">
        {loop="$values"}
            {if="$grouped"}
                <optgroup label="{$key}">
                    {loop="$value"}
                        <option value="{$key2}" {if="$key==$selected"}selected{/if}>{$value2}</option>
                    {/loop}
                </optgroup>
            {else}
                <option value="{$key}" {if="$key==$selected"}selected{/if}>{$value}</option>
            {/if}
        {/loop}
    </select>
    {if="$hint"}<small>{$hint}</small>{/if}
</div>
