<table class="default" {if="$id"}id="{$id}"{/if}>
    <thead>
        <tr>
        {loop="$th"}
             <th {if="$value.id"}id="{$value.id}"{/if} {if="$value.class"}class="{$value.class}"{/if}>
               {$value.content}
             </th>
        {/loop}
        </tr>
    </thead>
    <tbody>
        {if="! is_string($td)"}
            {loop="$td"}
            <tr {if="isset($value1->rowAction)"}data-main-action="{$value1->rowAction}"{/if}>
                {if="is_array($value)"}
                {loop="$value"}
                    <td {if="$value2.id"}id="{$value2.id}"{/if} {if="$value2.class"}class="{$value2.class}"{/if}>
                        {if="$value2.cellAction"}
                            <a href="{$value2.cellAction}">{$value2.content}</a>
                        {else}
                            {$value2.content}
                        {/if}
                    </td>
                {/loop}
                {else}    
                {loop="$value->tds"}
                    <td {if="$value2.id"}id="{$value2.id}"{/if} {if="$value2.class"}class="{$value2.class}"{/if}>
                        {if="$value2.cellAction"}
                            <a href="{$value2.cellAction}">{$value2.content}</a>
                        {else}
                            {$value2.content}
                        {/if}
                    </td>
                {/loop}
                {/if}
            </tr>
            {/loop}
        {else}
            {$td}
        {/if}
    </tbody>
</table>
