<table class="default" {if="$id"}id="{$id}"{/if}>
    <thead>
        <tr>
        {loop="$th"}
             <th {if="$value.id"}id="{$value.id}"{/if} {if="$value.class"}class="{$value.class}"{/if}>
               {$value.content}
             </th>
        {/loop}
        </tr>
    </thead>
    <tbody>
        {if="! is_string($td)"}
            {loop="$td"}
            <tr>
            {loop="$value"}
                 <td {if="$value.id"}id="{$value.id}"{/if} {if="$value.class"}class="{$value.class}"{/if} {if="isset($value.rowAction)"}data-main-action="{$value.rowAction}"{/if}>
                   {$value.content}
                 </td>
            {/loop}
            </tr>
            {/loop}
        {else}
            {$td}
        {/if}
    </tbody>
</table>
