<table class="default" {if="$id"}id="{$id}"{/if}>
    <thead>
        <tr>
        {loop="$th"}
             <th {if="$value.id"}id="{$value.id}"{/if} {if="$value.class"}class="{$value.class}"{/if}>
               {$value.content}
             </th>
        {/loop}
        </tr>
    </thead>
    <tbody>
        {loop="$td"}
        <tr>
        {loop="$value"}
             <td {if="$value.id"}id="{$value.id}"{/if} {if="$value.class"}class="{$value.class}"{/if}>
               {$value.content}
             </td>
        {/loop}
        </tr>
        {/loop}
    </tbody>
</table>
