<div class="form-group {if="$hor"}row{/if}">
    <label class='control-label {if="$hor"}col-lg-3{/if}' for="{$id}">{$label}</label>
    {if="$getter"}
    <input
        class="form-control tags"
        value=""
        id="{$id}"
        name="{$name}"
        type="text"
        {if="isset($readonly) && $readonly"}readonly{/if}
        {if="isset($disabled) && $disabled"}disabled="true"{/if}
        {if="!$multiple"}data-single="true"{/if}
        {if="$getter"}data-getter="{$getter.url}" data-getter-name="{$getter.name}" data-getter-value="{$getter.value}"{/if}>
    {else}
    <select name="{$name}" class="form-control tags">
        {loop="$values"}
            <option value="{$value.value}">{$value.text}</option>
        {/loop}
    </select>
    {/if}
</div>
