# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
*.log

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project specific files
*.rtpl.php
config.php
modules/*
core/css/compiled/*
core/ressources/css/__compiled/*
core/ressources/css/__compiled/*.css
doxy
cache/*

# Dev files
phpinfo.php
config-env.php
doxy
.phpintel
composer.lock
*.sublime-project
*.sublime-workspace
