body {
    font-family: "Roboto", Arial, sans-serif;
    color: rgba(0,0,0,0.7);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

::selection {
  background: @color-gray-dark; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: @color-gray-dark; /* Gecko Browsers */
  color: white;
}
body {
    font-size: 13px;
}

body .content {
    padding: 0 60px 60px 170px;
}

h1 {
    font-size: 24px;
    display: inline-block;
    width: auto;
}
h2 {
    font-size: 20px;
}
h3, h4 {
    font-size: 16px;
}
a.small {
    font-size: 13px;
    color: @color-gray-middle;
    transition: 300ms;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

span.amount {
    i {
        font-size: 0.8em !important;
        display: inline-block !important;
    }
}

a {
    color: @color-gray-dark;
    transition: 300ms;

    &.ajax.confirm {
        &:hover {
            text-decoration: none;
        }
        i:hover {
            color: darken(@color-gray-dark, 5%);
        }
    }

    &:hover {
        color: lighten(@color-gray-dark, 5%);
        text-decoration: underline;
    }
}

span.huge {
    font-size: 36px;
    line-height: 50px;
    font-weight: 100;
    display: inline-block;

    strong {
        font-weight: 700;
        background-color: @color-primary;
        padding: 0 7px;
        margin: 7px 0;
        display: inline-block;
    }

    + a {
        padding: 0;
        font-size: 11px;
        text-transform: uppercase;
    }
}

ul {
    list-style-type: none;
    padding: 0;

    &.content-listing {
        li {
            line-height: 24px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid @color-gray-light;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.forge-placeholder {
    background-color: #f2f2f2;
    min-height: 20px;
    margin-bottom: 10px;
}

code.fullwidth {
    display: block;
    margin-bottom: 2px;
}

.mce-container {
    height: 430px;
}