@header-size: 64px;
@children-width: 300px;

nav.navbar-default {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    height: @header-size;
    background-color: @color-gray-lightest;
    border-bottom: 1px solid @color-gray-light;
    box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.12);
    margin-bottom: 0;

    .navbar-nav {
        &.navbar-right {
            margin-right: 16px;
        }

        li {
            display: block;
            padding-top: 12px;
            padding-left: 8px;

            a {
                text-align: center;
                transition: 300ms;
                display: block;
                height: @header-size - 24;
                border-radius: 16px;

                display: flex;
                justify-content: center;
                align-items: center;
                transition: 200ms;
                font-weight: 500;

                &:hover {
                    background-color: @color-gray-light;
                }

                i {
                    color: @color-gray;
                    margin-right: 1rem;
                    font-size: 16px;
                }

                &.logo img {
                    width: 40px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -12px;
                    margin-left: -20px;
                }
            }

            &.active, &.open {
                > a {
                    background-color: @color-accent;
                    color: @color-gray-dark;
                    position: relative;

                    i {
                        color: @color-gray-dark;
                    }

                    &:before {
                        position: absolute;
                        right: 0;
                        height: 100%;
                        content: '';
                        width: 2px;
                    }

                    &:hover, &:focus {
                        background-color: @color-accent;
                    }
                }
            }
        }

        li.open .children.dropdown-menu {
            animation-name: navigationIn;
            animation-duration: 300ms;
            animation-fill-mode:forwards;
        }

        .children.dropdown-menu {
            transition: 300ms;
            position: absolute;
            margin-top: 10px;
            z-index: 5;
            background-color: @color-gray-lightest;
            border-color: @color-gray-lightest;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-left: 40px;

            > .root {
                margin-bottom: 35px;

                h4 {
                    color: @color-gray;
                    margin-bottom: 0;
                }
                a {
                    display: inline;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            > ul {
                padding-left: 0;
                li {
                    height: auto;
                    width: 100%;

                    &:first-child {
                        margin-bottom: 0;
                    }

                    a {
                        justify-content: flex-start;
                        height: auto;
                        line-height: 40px;
                        display: block;
                        color: @color-gray;
                        font-weight: 500;
                        text-align: left;
                        font-size: 15px;

                        &:hover {
                            color: @color-primary;
                            background-color: transparent;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@keyframes navigationIn {
    0%      {opacity: 0}
    100%    {opacity: 1}
}