<div class="ajax-reload-container" id="builder-content">
    <div class="head-panel">
        <div class="heading-row page-header maxed row">
            <div class="col-lg-12">
                <a class="back" href="{$backurl}">{$backname}</a>
                <h1>{$title}</h1>
                <div class="actions">
                    {if="!$subview"}
                        <a href="{$saveurl}" data-form="page-form" class="ajax form btn btn-primary btn-sm">{$savetext}</a>
                    {/if}
                </div>
                {if="$subnavigation"}
                <div class="subnavigation">
                    <a href="{$subnavigation_root}"{if="!$subview_name"} class="active"{/if}>{$general_name}</a>
                    {loop="$subnavigation"}
                        <a href="{$subnavigation_root}/{$value.url}"
                            {if="$subview_name==$value.url"}class="active"{/if}>
                        {$value.title}
                        </a>
                    {/loop}
                </div>
                <div class="subactions">
                    {$subview_actions}
                </div>
                {/if}
            </div>
        </div>
    </div>
    {if="$subview"}
    <div class="maxed">
        <div class="row">
            <div class="col-lg-12">
                {$subview}
            </div>
        </div>
    </div>
    {else}
    <div class="maxed">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="" id="page-form">
                    <input type="hidden" name="itemid" value="{$itemid}">
                    <input type="hidden" name="language" value="{$lang}">
                        <div class="row">
                            <div class="col-lg-9">
                                {$panel_left}
                                {if="isset($builder)"}{$builder}{/if}
                                {if="$custom"}
                                    {$custom}
                                {/if}
                            </div>
                            <div class="col-lg-3">
                                {$panel_right}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {/if}
</div>
