<div class="ajax-reload-container">
    <div class="head-panel">
        <div class="row heading-row page-header maxed">
            <div class="col-lg-12">
                <h1>{$title}</h1>
                <div class="actions">
                    {if="$add.permission"}
                        <a href="javascript://" data-open="{$add.url}" class="btn btn-primary open-overlay btn-sm">{$add.title}</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="row maxed">
        <div class="col-lg-12">
        {$table}
        </div>
    </div>
</div>
