{if="$displaytype=='normal'"}
    <div class="wrapped">
{/if}
<div class="row {$css}{if="$bgstyle"} {$bgstyle}{/if}{if="$bgpos"} {$bgpos}{/if}" {if="$backgroundimage"}style="background-image:url('{$backgroundimage}')"{/if}>
    {if="$displaytype=='semi'"}
        <div class="wrapped">
    {/if}
    {loop="$rows"}
        <div class="col-lg-{$value.width}">
            {$value.content}
        </div>
    {/loop}
    {if="$displaytype=='semi'"}
        </div>
    {/if}
</div>
{if="$displaytype=='normal'"}
    </div>
{/if}
