<li {if="$active"}class="active"{/if}>
    <a class="{if="$icon"}icon{/if} {if="$classes"}{$classes}{/if} {if="$image"}image{/if} {if="$children"}dropdown-toggle{/if}" href="{$url}" title="{$name}"
    {if="$children"} data-toggle="dropdown" role="button" aria-expanded="false"{/if}>
    {if="$icon"}
    <span class="glyphicon glyphicon-{$icon}" aria-hidden="true"></span>
    {else}
        {if="$image"}
            <img src="{$image}" alt="{$name}" />
        {else}
            {$name}
        {/if}
    {/if}
    {if="$children"}
    <span class="caret"></span>
    {/if}
    </a>
    {if="$children"}
    <ul class="dropdown-menu" role="menu">
        {$children}
    </ul>
    {/if}
</li>