<div class="maxed ajax-reload-container">
    <form method="post" action="{$action}" class="ajax" data-target="">
        <input type="hidden" name="event" value="{$event}">
        <div class="row heading-row page-header">
            <div class="col-lg-8"><h1>{$title}</h1></div>
            {if="!$subview"}
            <div class="col-lg-4 align-right">{$global_actions}
            </div>
            {/if}
        </div>
        {if="$subnavigation"}
        <div class="row subnavigation">
            <div class="col-lg-6">
                <a href="{$subnavigation_root}"{if="!$subview_name"} class="active"{/if}>{$general_name}</a>
                {loop="$subnavigation"}
                    <a href="{$subnavigation_root}/{$value.url}"
                        {if="$subview_name==$value.url"}class="active"{/if}>
                    {$value.title}
                    </a>
                {/loop}
            </div>
            <div class="col-lg-6 subactions">
                {$subview_actions}
            </div>
        </div>
        {/if}
        {if="$subview"}
        <div class="row">
          <div class="col-lg-12">
            {$subview}
          </div>
        </div>
        {else}
          {if="$tabs"}
          <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-tabs">
            {loop="tabs"}
                <li class="{if="$value.active"}active{/if}">
                    <a data-toggle="tab" href="#{$value.id}">{$value.title}</a>
                </li>
            {/loop}
            </ul>
            </div>
          </div>
          {/if}
          <div {if="$tabs"}class="tab-content"{/if}>
          {loop="tab_content"}
              <div id="{$value.id}" class="tab-pane fade{if="$value.active"} in active{/if}">
                <div class="row">
                  <div class="col-lg-6">
                    {$value.left}
                  </div>
                  <div class="col-lg-6">
                    {$value.right}
                  </div>
                </div>
              </div>
          {/if}
          </div>
        {/if}
    </form>
</div>
