.nav.navbar-nav li a.icon {
    padding-left: 25px;
    padding-right: 25px;
}
.overlay-right .close {
    float: none;
    cursor: pointer;
    padding: 5px 0 0 5px;
    color: #333;
}
a.ajax {
    transition: 300ms;
}

.bgc-white {
 background-color: white;
}

.ajax-reload-container > .spinner {
    margin-top: 120px;
}

.tab-content {
    padding: 30px 0;
}

.builder {
    width: 100%;

    .container {
        padding: 0;
    }

    a.add {
        display: block;
        width: 30px;
        height: 20px;
        margin: 0 auto;
        color: #ccc;
        margin: 20px auto;

        &:hover {
            color: @primary_color;
            text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
        }

        .glyphicon {
            display: inline-block;
            height: 20px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: @dark_grey;

            &:hover {
                color: @primary_color;
            }
        }
    }

    .container {
        background-color: #f2f2f2;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -40px;

    .block {
        display:flex;
        height: 120px;
        width: 380px;
        padding: 20px;
        border: 1px solid #F2F2F2;
        border-radius: 3px;
        position: relative;

        margin-left: 20px;
        margin-top: 60px;

        &.active {
            background-color: #fafafa;
            border-color: #f0f0f0;
            .img {
                background-color:#FFF;
            }
        }

        .content {
            min-height: auto;
            h4 {
                margin: 0;
            }
            p {
                max-height: 40px;
                overflow: hidden;
            }
        }

        .button {
            position: absolute;
            width: 100%;
            padding: 7px 0px;
            line-height: 22px;
            bottom: -38px;
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .img {
            background-color: #fafafa;
            width:78px;
            min-width: 78px;
            height: 78px;
            text-align:center;
            white-space: nowrap;
            margin-right: 20px;
            border-radius: 3px;

            .helper {
                display:inline-block;
                height: 100%;
                vertical-align: middle;
            }

            img {
                width: 60px;
                vertical-align: middle;
            }
        }
    }
}

.linklist {
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
            line-height: 25px;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: none;
            }
            a {
                color: @dark_grey;
                &:hover {
                    color: lighten(@dark_grey, 20%);
                    text-decoration: none;
                }
            }
        }
    }
}

.navigation-block {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid @light_grey;
}
* > .navigation-block:last-child {
    border-bottom: none;
}

.dragsort {
    max-width: 100%;
    overflow: hidden;

    .items {
        padding-left: 0;
        .item {
            list-style: none;
            border-radius: 3px;
            border: 1px solid #ededed;
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
            display: block;
            padding: 10px 30px;
            background-color: #FFF;
            margin-bottom: 20px;
            cursor: pointer;
            transition: box-shadow 300ms ease, 
                        background-color 300ms ease, 
                        border-color 300ms ease;

            &.level-1 {
                margin-left: 30px;
            }
            &.level-2 {
                margin-left: 60px;
            }
            &.level-3 {
                margin-left: 90px;
            }

            &:hover {
                background-color: #fafafa;
                border: 1px solid #e2e2e2;
                box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
            }
        }
        .placeholder {
            border: 1px dashed #ededed;
            min-height: 60px;
            margin-bottom: 20px;
            list-style: none;

            &.level-1 {
                margin-left: 30px;
            }
            &.level-2 {
                margin-left: 60px;
            }
            &.level-3 {
                margin-left: 90px;
            }
        }
    }
}

.list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 0;

    > div:not(:last-child) {
        min-width: 120px;
        margin-right: 30px;
    }

    small {
        text-transform: uppercase;
        color: #b2b2b2;
    }
    p, p > a {
        font-size: 16px;
        margin-bottom: 0;
        color: #666666;
    }

    .actions {
        margin-top: 10px;
    }
    a.btn {
        border: none;
        background: none;
        &:hover {
            span:before {
                color: @primary_color;
            }
        }
        span {
            &:before {
                transition: 300ms;
                color: #666;
                font-size: 17px;
            }
        }
    }
}
