.bracket {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.bracket .round {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.bracket .round h4 {
  text-align: center;
  font-weight: bold;
  color: grey;
  margin-bottom: 20px;
  padding-right: 20px;
}
.bracket .round:last-child .encounter:before {
  display: none;
}
.bracket .round.round {
  position: relative;
}
.bracket .round.round:before {
  background-color: rgba(255,255,255,0);
  left: -15px;
  top: -15px;
  right: 15px;
  bottom: 15px;
  position: absolute;
  content: '';
  display: block;
  transition: 300ms;
}
.bracket .round.round:hover:before {
  background-color: rgba(255,255,255,0.03);
}
.bracket .round.round .set_winner {
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px 0;
  opacity: 0.3;
  transform: scale(0.8);
  background-image: url('../../../../../modules/forge-tournaments/assets/icons/ic_star_gold_18px.svg');
}
.bracket .round.round .set_winner:hover {
  opacity: 1;
  transform: scale(1.1);
}
.bracket .round.round-2 .encounter .team_1:before,
.bracket .round.round-2 .encounter .team_2:before,
.bracket .round.round-3 .encounter .team_1:before,
.bracket .round.round-3 .encounter .team_2:before,
.bracket .round.round-4 .encounter .team_1:before,
.bracket .round.round-4 .encounter .team_2:before,
.bracket .round.round-5 .encounter .team_1:before,
.bracket .round.round-5 .encounter .team_2:before,
.bracket .round.round-6 .encounter .team_1:before,
.bracket .round.round-6 .encounter .team_2:before,
.bracket .round.round-7 .encounter .team_1:before,
.bracket .round.round-7 .encounter .team_2:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  bottom: 48px;
  width: 10px;
  height: 20px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
.bracket .round.round-2 .encounter .team_1:after,
.bracket .round.round-2 .encounter .team_2:after,
.bracket .round.round-3 .encounter .team_1:after,
.bracket .round.round-3 .encounter .team_2:after,
.bracket .round.round-4 .encounter .team_1:after,
.bracket .round.round-4 .encounter .team_2:after,
.bracket .round.round-5 .encounter .team_1:after,
.bracket .round.round-5 .encounter .team_2:after,
.bracket .round.round-6 .encounter .team_1:after,
.bracket .round.round-6 .encounter .team_2:after,
.bracket .round.round-7 .encounter .team_1:after,
.bracket .round.round-7 .encounter .team_2:after {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  bottom: 67px;
  width: 10px;
  height: 1px;
  border-bottom: 1px solid #333;
}
.bracket .round.round-2 .encounter .team_2:before,
.bracket .round.round-3 .encounter .team_2:before,
.bracket .round.round-4 .encounter .team_2:before,
.bracket .round.round-5 .encounter .team_2:before,
.bracket .round.round-6 .encounter .team_2:before,
.bracket .round.round-7 .encounter .team_2:before {
  bottom: auto;
  top: 48px;
  border-bottom: none;
  border-top: 1px solid #333;
}
.bracket .round.round-2 .encounter .team_2:after,
.bracket .round.round-3 .encounter .team_2:after,
.bracket .round.round-4 .encounter .team_2:after,
.bracket .round.round-5 .encounter .team_2:after,
.bracket .round.round-6 .encounter .team_2:after,
.bracket .round.round-7 .encounter .team_2:after {
  bottom: auto;
  top: 67px;
}
.bracket .round.round-3 .encounter .team_1:before,
.bracket .round.round-3 .encounter .team_2:before {
  height: 62px;
}
.bracket .round.round-3 .encounter .team_1:after,
.bracket .round.round-3 .encounter .team_2:after {
  bottom: 109px;
}
.bracket .round.round-3 .encounter .team_2:after {
  bottom: auto;
  top: 109px;
}
.bracket .round.round-4 .encounter .team_1:before,
.bracket .round.round-4 .encounter .team_2:before {
  height: 142px;
}
.bracket .round.round-4 .encounter .team_1:after,
.bracket .round.round-4 .encounter .team_2:after {
  bottom: 189px;
}
.bracket .round.round-4 .encounter .team_2:after {
  bottom: auto;
  top: 189px;
}
.bracket .round.round-5 .encounter .team_1:before,
.bracket .round.round-5 .encounter .team_2:before {
  height: 302px;
}
.bracket .round.round-5 .encounter .team_1:after,
.bracket .round.round-5 .encounter .team_2:after {
  bottom: 349px;
}
.bracket .round.round-5 .encounter .team_2:after {
  bottom: auto;
  top: 349px;
}
.bracket .round.round-6 .encounter .team_1:before,
.bracket .round.round-6 .encounter .team_2:before {
  height: 622px;
}
.bracket .round.round-6 .encounter .team_1:after,
.bracket .round.round-6 .encounter .team_2:after {
  bottom: 669px;
}
.bracket .round.round-6 .encounter .team_2:after {
  bottom: auto;
  top: 669px;
}
.bracket .round.round-7 .encounter .team_1:before,
.bracket .round.round-7 .encounter .team_2:before {
  height: 1262px;
}
.bracket .round.round-7 .encounter .team_1:after,
.bracket .round.round-7 .encounter .team_2:after {
  bottom: 1309px;
}
.bracket .round.round-7 .encounter .team_2:after {
  bottom: auto;
  top: 1309px;
}
.bracket .round.round-2 .encounter {
  margin-top: 40px;
  margin-bottom: 60px;
}
.bracket .round.round-3 .encounter {
  margin-top: 120px;
  margin-bottom: 140px;
}
.bracket .round.round-4 .encounter {
  margin-top: 280px;
  margin-bottom: 300px;
}
.bracket .round.round-5 .encounter {
  margin-top: 600px;
  margin-bottom: 620px;
}
.bracket .round.round-6 .encounter {
  margin-top: 1240px;
  margin-bottom: 1260px;
}
.bracket .round.round-7 .encounter {
  margin-top: 2520px;
  margin-bottom: 2540px;
}
.bracket .round .encounter {
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
  position: relative;
}
.bracket .round .encounter .team_1 {
  margin-bottom: 12px;
}
.bracket .round .encounter:before {
  content: "";
  display: block;
  height: 40px;
  width: 20px;
  border: 1px solid #333;
  border-left: none;
  position: absolute;
  right: -20px;
  top: 12px;
}
.bracket .round .encounter .team_1,
.bracket .round .encounter .team_2 {
  text-align: left;
  width: 150px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #333;
  padding: 0 10px;
  transition: 300ms;
  font-size: 12px;
  font-weight: 600;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.bracket .round .encounter .team_1 .score,
.bracket .round .encounter .team_2 .score {
  border-left: 1px solid #333;
  padding-left: 10px;
}
.bracket .round .encounter .team_1.loser,
.bracket .round .encounter .team_2.loser {
  background-color: #1A1A1A;
  color: #666;
  border-color: #303030;
}
.bracket .round .encounter .team_1.winner,
.bracket .round .encounter .team_2.winner {
  color: #00b300;
}
.bracket .round .encounter .team_1.my-team,
.bracket .round .encounter .team_2.my-team {
  border-color: #F57C00;
}
.bracket .round .encounter .team_1:hover,
.bracket .round .encounter .team_2:hover {
  background-color: #333;
  border-color: #444;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}
