div.compare-tree-active {
  position: absolute;
  left: -10000px;
  top: -10000px;
  height: 0;
  widht: 0;
}
div.compare-tree {
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fcfcfc;
}
div.compare-tree .node-container {
  position: relative;
  padding: 1.1em;
}
div.compare-tree .node-control {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
div.compare-tree .node-control:not(.node-control-remove) {
  font-size: 9px;
  line-height: 5px;
}
div.compare-tree .node-control:not(.node-control-remove):hover {
  border-color: #bfbfbf;
  background-color: #d9d9d9;
}
div.compare-tree .node-control-remove:hover {
  border-color: #efbfbf;
  background-color: #f9d5d5;
  color: #ff4040;
}
div.compare-tree .node-control-add {
  position: relative;
}
div.compare-tree .node-container::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
div.compare-tree .node-control::before {
  content: " ";
  display: block;
  position: static;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
}
div.compare-tree .node-container:last-of-type::after {
  display: none;
}
div.compare-tree .node-container-OR > .node-control::before,
div.compare-tree .node-container-OR > .node-container::after {
  content: "OR";
}
div.compare-tree .node-container-AND > .node-control::before,
div.compare-tree .node-container-AND > .node-container::after {
  content: "AND";
}
div.compare-tree .node-container-depth-0 > .node-container {
  border-bottom: 1px solid #d2d2d2;
}
div.compare-tree .node-container-depth-0 > .node-control-add,
div.compare-tree .node-container-depth-0 > .node-container::after {
  margin-left: 50%;
  left: -24px;
}
div.compare-tree .node-container-depth-0 > .node-control-add {
  bottom: 15px;
}
div.compare-tree .node-container-depth-0 >.node-control-add:first-child {
  bottom: 0;
}
div.compare-tree .node-container-depth-1 {
  position: relative;
  padding-left: 2.2em;
}
div.compare-tree .node-container-depth-1 > .node-container {
  border-bottom: 1px dashed #d2d2d2;
}
div.compare-tree .node-container-depth-1 > .node-control-add,
div.compare-tree .node-container-depth-1 > .node-container::after {
  bottom: -16px;
  left: -24px;
}
div.compare-tree .node-container-depth-1 > .node-control-add {
  bottom: 15px;
}
div.compare-tree .node-container-depth-1 > .node-control-add:first-child {
  bottom: 2px;
}
div.compare-tree .node-container-depth-1 > .node-control-remove {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  margin-top: -24px;
  margin-right: -30px;
  font-size: 1em;
  line-height: 1.3em;
}
div.compare-tree .node-container-depth-1 > .node-control-remove::before {
  display: none;
}
div.compare-tree:not(.editable) .node-container-depth-0 > .node-container:last-child {
  border: none;
}
div.compare-tree:not(.editable) .node-container-depth-1 > .node-container:last-child {
  border: none;
}
div.compare-tree .node-leaf {
  text-align: left;
}
div.compare-tree .node-leaf span,
div.compare-tree .node-control {
  display: inline-block;
  padding: 0.4em 0.5em;
  margin-right: 0.5em;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background-color: #f2f2f2;
}
div.compare-tree .node-control,
div.compare-tree .node-leaf .node-control {
  border-radius: 30px;
}
.node-leaf span select {
  min-width: 180px;
}
