@keyframes coin {
  0% {
    transform: scale(1) rotateY(720deg);
  }
  5% {
    transform: scale(1.19) rotateY(648deg);
  }
  10% {
    transform: scale(1.36) rotateY(576deg);
  }
  15% {
    transform: scale(1.51) rotateY(504deg);
  }
  20% {
    transform: scale(1.64) rotateY(432deg);
  }
  25% {
    transform: scale(1.75) rotateY(360deg);
  }
  30% {
    transform: scale(1.84) rotateY(288deg);
  }
  35% {
    transform: scale(1.91) rotateY(216deg);
  }
  40% {
    transform: scale(1.96) rotateY(144deg);
  }
  45% {
    transform: scale(1.99) rotateY(72deg);
  }
  50% {
    transform: scale(2) rotateY(0deg);
  }
  55% {
    transform: scale(1.99) rotateY(72deg);
  }
  60% {
    transform: scale(1.96) rotateY(144deg);
  }
  65% {
    transform: scale(1.91) rotateY(216deg);
  }
  70% {
    transform: scale(1.84) rotateY(288deg);
  }
  75% {
    transform: scale(1.75) rotateY(360deg);
  }
  80% {
    transform: scale(1.64) rotateY(432deg);
  }
  85% {
    transform: scale(1.51) rotateY(504deg);
  }
  90% {
    transform: scale(1.36) rotateY(576deg);
  }
  95% {
    transform: scale(1.19) rotateY(648deg);
  }
  100% {
    transform: scale(1) rotateY(720deg);
  }
}
.forge-tournament .thumb {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  vertical-align: middle;
}
.forge-tournament .thumb:hover {
  animation-name: coin;
  animation-duration: 1s;
}
.forge-tournament .head {
  display: flex;
  align-items: center;
}
.forge-tournament .head h1,
.forge-tournament .head h2,
.forge-tournament .head h3 {
  display: inline-block !important;
  margin: 0;
}
.forge-tournament__detail {
  padding: 75px 0;
}
.forge-tournament__detail .info .head {
  margin-bottom: 20px;
}
.forge-tournament__detail .info .quick {
  text-transform: uppercase;
  text-align: right;
}
.forge-tournament__detail .info .quick div > div {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 3rem;
}
.forge-tournament__detail .info .quick .title {
  font-size: .75rem;
}
.forge-tournament__detail .header {
  display: flex;
  align-items: center;
}
.forge-tournament__detail .header h1 {
  display: inline-block;
  margin: 0;
}
.forge-tournament__list {
  text-transform: uppercase;
  margin: 60px 0;
}
.forge-tournament__list .header {
  text-align: right;
  color: #4f4f4f;
  font-size: .625rem;
  position: relative;
  top: 10px;
}
.forge-tournament__list .item {
  display: flex;
  height: 4em;
  align-items: center;
}
.forge-tournament__list .item:not(:last-child) {
  border-bottom: 1px solid #4f4f4f;
}
.forge-tournament__list .item .title,
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate,
.forge-tournament__list .item .status {
  font-size: 1rem;
}
.forge-tournament__list .item .main h3 {
  display: inline-block;
  margin: 0;
}
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate,
.forge-tournament__list .item .status,
.forge-tournament__list .item .enrollment {
  text-align: right;
}
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate {
  white-space: nowrap;
}
.forge-tournament__list .item .title > a {
  color: #ffffff;
}
.forge-tournament__list .item .mode {
  margin-left: .25em;
  color: #4f4f4f;
}
.forge-tournament__list .item .btn {
  font-size: .8em;
  text-transform: none;
}
.forge-tournament__teaser .teaser {
  min-height: 380px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.forge-tournament__teaser .teaser .row {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.forge-tournament__teaser .teaser .row span {
  line-height: 36px;
}
.forge-tournament.bracket {
  display: flex;
  flex-direction: row;
}
.forge-tournament.bracket .round {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.forge-tournament.bracket .round h4 {
  text-align: center;
  font-weight: bold;
  color: grey;
  margin-bottom: 20px;
  padding-right: 20px;
}
.forge-tournament.bracket .round:last-child .encounter:before {
  display: none;
}
.forge-tournament.bracket .round.round {
  position: relative;
}
.forge-tournament.bracket .round.round:before {
  background-color: rgba(255,255,255,0);
  left: -15px;
  top: -15px;
  right: 15px;
  bottom: 15px;
  position: absolute;
  content: '';
  display: block;
  transition: 300ms;
}
.forge-tournament.bracket .round.round:hover:before {
  background-color: rgba(255,255,255,0.03);
}
.forge-tournament.bracket .round.round-2 .encounter .team_1:before,
.forge-tournament.bracket .round.round-2 .encounter .team_2:before,
.forge-tournament.bracket .round.round-3 .encounter .team_1:before,
.forge-tournament.bracket .round.round-3 .encounter .team_2:before,
.forge-tournament.bracket .round.round-4 .encounter .team_1:before,
.forge-tournament.bracket .round.round-4 .encounter .team_2:before,
.forge-tournament.bracket .round.round-5 .encounter .team_1:before,
.forge-tournament.bracket .round.round-5 .encounter .team_2:before,
.forge-tournament.bracket .round.round-6 .encounter .team_1:before,
.forge-tournament.bracket .round.round-6 .encounter .team_2:before,
.forge-tournament.bracket .round.round-7 .encounter .team_1:before,
.forge-tournament.bracket .round.round-7 .encounter .team_2:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  bottom: 48px;
  width: 10px;
  height: 20px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
.forge-tournament.bracket .round.round-2 .encounter .team_1:after,
.forge-tournament.bracket .round.round-2 .encounter .team_2:after,
.forge-tournament.bracket .round.round-3 .encounter .team_1:after,
.forge-tournament.bracket .round.round-3 .encounter .team_2:after,
.forge-tournament.bracket .round.round-4 .encounter .team_1:after,
.forge-tournament.bracket .round.round-4 .encounter .team_2:after,
.forge-tournament.bracket .round.round-5 .encounter .team_1:after,
.forge-tournament.bracket .round.round-5 .encounter .team_2:after,
.forge-tournament.bracket .round.round-6 .encounter .team_1:after,
.forge-tournament.bracket .round.round-6 .encounter .team_2:after,
.forge-tournament.bracket .round.round-7 .encounter .team_1:after,
.forge-tournament.bracket .round.round-7 .encounter .team_2:after {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  bottom: 67px;
  width: 10px;
  height: 1px;
  border-bottom: 1px solid #333;
}
.forge-tournament.bracket .round.round-2 .encounter .team_2:before,
.forge-tournament.bracket .round.round-3 .encounter .team_2:before,
.forge-tournament.bracket .round.round-4 .encounter .team_2:before,
.forge-tournament.bracket .round.round-5 .encounter .team_2:before,
.forge-tournament.bracket .round.round-6 .encounter .team_2:before,
.forge-tournament.bracket .round.round-7 .encounter .team_2:before {
  bottom: auto;
  top: 48px;
  border-bottom: none;
  border-top: 1px solid #333;
}
.forge-tournament.bracket .round.round-2 .encounter .team_2:after,
.forge-tournament.bracket .round.round-3 .encounter .team_2:after,
.forge-tournament.bracket .round.round-4 .encounter .team_2:after,
.forge-tournament.bracket .round.round-5 .encounter .team_2:after,
.forge-tournament.bracket .round.round-6 .encounter .team_2:after,
.forge-tournament.bracket .round.round-7 .encounter .team_2:after {
  bottom: auto;
  top: 67px;
}
.forge-tournament.bracket .round.round-3 .encounter .team_1:before,
.forge-tournament.bracket .round.round-3 .encounter .team_2:before {
  height: 62px;
}
.forge-tournament.bracket .round.round-3 .encounter .team_1:after,
.forge-tournament.bracket .round.round-3 .encounter .team_2:after {
  bottom: 109px;
}
.forge-tournament.bracket .round.round-3 .encounter .team_2:after {
  bottom: auto;
  top: 109px;
}
.forge-tournament.bracket .round.round-4 .encounter .team_1:before,
.forge-tournament.bracket .round.round-4 .encounter .team_2:before {
  height: 142px;
}
.forge-tournament.bracket .round.round-4 .encounter .team_1:after,
.forge-tournament.bracket .round.round-4 .encounter .team_2:after {
  bottom: 189px;
}
.forge-tournament.bracket .round.round-4 .encounter .team_2:after {
  bottom: auto;
  top: 189px;
}
.forge-tournament.bracket .round.round-5 .encounter .team_1:before,
.forge-tournament.bracket .round.round-5 .encounter .team_2:before {
  height: 302px;
}
.forge-tournament.bracket .round.round-5 .encounter .team_1:after,
.forge-tournament.bracket .round.round-5 .encounter .team_2:after {
  bottom: 349px;
}
.forge-tournament.bracket .round.round-5 .encounter .team_2:after {
  bottom: auto;
  top: 349px;
}
.forge-tournament.bracket .round.round-6 .encounter .team_1:before,
.forge-tournament.bracket .round.round-6 .encounter .team_2:before {
  height: 622px;
}
.forge-tournament.bracket .round.round-6 .encounter .team_1:after,
.forge-tournament.bracket .round.round-6 .encounter .team_2:after {
  bottom: 669px;
}
.forge-tournament.bracket .round.round-6 .encounter .team_2:after {
  bottom: auto;
  top: 669px;
}
.forge-tournament.bracket .round.round-7 .encounter .team_1:before,
.forge-tournament.bracket .round.round-7 .encounter .team_2:before {
  height: 1262px;
}
.forge-tournament.bracket .round.round-7 .encounter .team_1:after,
.forge-tournament.bracket .round.round-7 .encounter .team_2:after {
  bottom: 1309px;
}
.forge-tournament.bracket .round.round-7 .encounter .team_2:after {
  bottom: auto;
  top: 1309px;
}
.forge-tournament.bracket .round.round-2 .encounter {
  margin-top: 40px;
  margin-bottom: 60px;
}
.forge-tournament.bracket .round.round-3 .encounter {
  margin-top: 120px;
  margin-bottom: 140px;
}
.forge-tournament.bracket .round.round-4 .encounter {
  margin-top: 280px;
  margin-bottom: 300px;
}
.forge-tournament.bracket .round.round-5 .encounter {
  margin-top: 600px;
  margin-bottom: 620px;
}
.forge-tournament.bracket .round.round-6 .encounter {
  margin-top: 1240px;
  margin-bottom: 1260px;
}
.forge-tournament.bracket .round.round-7 .encounter {
  margin-top: 2520px;
  margin-bottom: 2540px;
}
.forge-tournament.bracket .round .encounter {
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
  position: relative;
}
.forge-tournament.bracket .round .encounter .team_1 {
  margin-bottom: 12px;
}
.forge-tournament.bracket .round .encounter:before {
  content: "";
  display: block;
  height: 40px;
  width: 20px;
  border: 1px solid #333;
  border-left: none;
  position: absolute;
  right: -20px;
  top: 12px;
}
.forge-tournament.bracket .round .encounter .team_1,
.forge-tournament.bracket .round .encounter .team_2 {
  text-align: left;
  width: 150px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #333;
  padding: 0 10px;
  transition: 300ms;
  font-size: 12px;
  font-weight: 600;
  color: #999;
  display: flex;
  justify-content: space-between;
}
.forge-tournament.bracket .round .encounter .team_1 .score,
.forge-tournament.bracket .round .encounter .team_2 .score {
  border-left: 1px solid #333;
  padding-left: 10px;
}
.forge-tournament.bracket .round .encounter .team_1.loser,
.forge-tournament.bracket .round .encounter .team_2.loser {
  background-color: #1A1A1A;
  color: #666;
  border-color: #303030;
}
.forge-tournament.bracket .round .encounter .team_1.winner,
.forge-tournament.bracket .round .encounter .team_2.winner {
  color: #00b300;
}
.forge-tournament.bracket .round .encounter .team_1.my-team,
.forge-tournament.bracket .round .encounter .team_2.my-team {
  border-color: #F57C00;
}
.forge-tournament.bracket .round .encounter .team_1:hover,
.forge-tournament.bracket .round .encounter .team_2:hover {
  background-color: #333;
  border-color: #444;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}
