@keyframes coin {
  0% {
    transform: scale(1) rotateY(720deg);
  }
  5% {
    transform: scale(1.19) rotateY(648deg);
  }
  10% {
    transform: scale(1.36) rotateY(576deg);
  }
  15% {
    transform: scale(1.51) rotateY(504deg);
  }
  20% {
    transform: scale(1.64) rotateY(432deg);
  }
  25% {
    transform: scale(1.75) rotateY(360deg);
  }
  30% {
    transform: scale(1.84) rotateY(288deg);
  }
  35% {
    transform: scale(1.91) rotateY(216deg);
  }
  40% {
    transform: scale(1.96) rotateY(144deg);
  }
  45% {
    transform: scale(1.99) rotateY(72deg);
  }
  50% {
    transform: scale(2) rotateY(0deg);
  }
  55% {
    transform: scale(1.99) rotateY(72deg);
  }
  60% {
    transform: scale(1.96) rotateY(144deg);
  }
  65% {
    transform: scale(1.91) rotateY(216deg);
  }
  70% {
    transform: scale(1.84) rotateY(288deg);
  }
  75% {
    transform: scale(1.75) rotateY(360deg);
  }
  80% {
    transform: scale(1.64) rotateY(432deg);
  }
  85% {
    transform: scale(1.51) rotateY(504deg);
  }
  90% {
    transform: scale(1.36) rotateY(576deg);
  }
  95% {
    transform: scale(1.19) rotateY(648deg);
  }
  100% {
    transform: scale(1) rotateY(720deg);
  }
}
.forge-tournament .thumb {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  vertical-align: middle;
}
.forge-tournament .thumb:hover {
  animation-name: coin;
  animation-duration: 1s;
}
.forge-tournament .head {
  display: flex;
  align-items: center;
}
.forge-tournament .head h1,
.forge-tournament .head h2,
.forge-tournament .head h3 {
  display: inline-block !important;
  margin: 0;
}
.forge-tournament__detail {
  padding: 75px 0;
}
.forge-tournament__detail .info .head {
  margin-bottom: 20px;
}
.forge-tournament__detail .info .quick {
  text-transform: uppercase;
  text-align: right;
}
.forge-tournament__detail .info .quick div > div {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 3rem;
}
.forge-tournament__detail .info .quick .title {
  font-size: .75rem;
}
.forge-tournament__detail .header {
  display: flex;
  align-items: center;
}
.forge-tournament__detail .header h1 {
  display: inline-block;
  margin: 0;
}
.forge-tournament__list {
  text-transform: uppercase;
  margin: 60px 0;
}
.forge-tournament__list .header {
  text-align: right;
  color: #4f4f4f;
  font-size: .625rem;
  position: relative;
  top: 10px;
}
.forge-tournament__list .item {
  display: flex;
  height: 4em;
  align-items: center;
}
.forge-tournament__list .item:not(:last-child) {
  border-bottom: 1px solid #4f4f4f;
}
.forge-tournament__list .item .title,
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate,
.forge-tournament__list .item .status {
  font-size: 1rem;
}
.forge-tournament__list .item .main h3 {
  display: inline-block;
  margin: 0;
}
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate,
.forge-tournament__list .item .status,
.forge-tournament__list .item .enrollment {
  text-align: right;
}
.forge-tournament__list .item .participants,
.forge-tournament__list .item .startdate {
  white-space: nowrap;
}
.forge-tournament__list .item .title > a {
  color: #ffffff;
}
.forge-tournament__list .item .mode {
  margin-left: .25em;
  color: #4f4f4f;
}
.forge-tournament__list .item .btn {
  font-size: .8em;
  text-transform: none;
}
.forge-tournament__teaser .teaser {
  min-height: 380px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.forge-tournament__teaser .teaser .row {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.forge-tournament__teaser .teaser .row span {
  line-height: 36px;
}
