.login {
  margin-top: 60px;
}
.content {
  min-height: 400px;
}
.content.sticky {
  margin-top: 56px;
}
.padded {
  padding: 20px 40px;
}
.align-right > * {
  float: right;
}
.fadeOut {
  opacity: 0;
  transition: 250ms;
}
.fadeIn {
  opacity: 0;
}
.fadeIn.now {
  transition: 250ms;
  opacity: 1;
}
.width-200 {
  width: 200px;
}
.center {
  text-align: center;
}
.head-panel {
  height: 80px;
  margin-top: 2px;
  background-color: #262626;
  border-top: 1px solid #2b2b2b;
  box-shadow: 0px -2px 0px 0px #1c1c1c;
  margin-bottom: 30px;
}
.head-panel ul.nav.nav-tabs {
  border: none;
}
.head-panel ul.nav.nav-tabs li {
  border: none;
}
.head-panel ul.nav.nav-tabs li.active a {
  border-color: #fff;
  color: #fff;
}
.head-panel ul.nav.nav-tabs li a {
  line-height: 78px;
  height: 78px;
  padding: 0;
  margin: 0 20px;
  border: none;
  background: none;
  color: #FFF;
  border-radius: 0px;
  border-bottom: 2px solid #1c1c1c;
  color: #303F9F;
}
.head-panel .actions .form-group button.btn.btn-primary {
  padding-right: 0;
}
.head-panel .subnavigation {
  margin: 0 60px;
}
.head-panel .subnavigation .subactions {
  position: absolute;
  right: 0;
  top: 0;
}
.head-panel .subnavigation .subactions a {
  padding: 0;
  font-weight: normal;
  text-transform: none;
  line-height: 80px;
}
.head-panel .subnavigation .subactions a:hover {
  color: white;
}
.head-panel .subnavigation a {
  line-height: 78px;
  margin: 0 15px;
  font-size: 15px;
  display: inline-block;
}
.head-panel .subnavigation a:last-child {
  margin-right: 0;
}
.head-panel .subnavigation a.active {
  border-bottom: 2px solid white;
  color: white;
}
.head-panel .heading-row {
  padding: 0;
}
.head-panel .heading-row > div {
  padding-left: 0;
  display: flex;
  position: relative;
}
.head-panel .heading-row > div .actions {
  position: absolute;
  right: 0;
  margin-left: 50px;
}
.head-panel .heading-row > div .actions > a,
.head-panel .heading-row > div .actions button {
  border: none;
  background-color: transparent;
  font-weight: normal;
  text-transform: none;
  color: #303F9F;
  line-height: 80px;
  padding: 0 50px 0 0;
}
.head-panel .heading-row > div .actions > a:hover,
.head-panel .heading-row > div .actions button:hover {
  color: #5161ca;
}
.head-panel .heading-row > div h1 {
  line-height: 80px;
  margin-bottom: 0;
}
