body {
  background-color: #262626;
  color: #999;
}
.head-panel {
  border-bottom: 1px solid #2b2b2b;
  box-shadow: 0px 0px 0px 2px #1c1c1c;
}
hr {
  border-top-color: #333;
}
.form-control,
.bootstrap-tagsinput,
.boxed,
.form-group.imageselection,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #222;
  border: 1px solid #333;
  box-shadow: none;
  color: #999;
}
.form-control:focus,
.bootstrap-tagsinput:focus {
  box-shadow: none;
  background-color: #333;
  border-color: #444;
}
.table > tbody tr th {
  color: #d6d6d6;
}
.table > tbody tr td {
  border-top-color: #333;
}
.table >tbody>tr:hover {
  background-color: #222;
}
.btn-default {
  background-color: #222;
  border-color: #333;
  color: #999;
}
.dragsort .items .item {
  border-color: #333;
  background-color: #222;
  color: #d6d6d6;
}
.dragsort .items .item p,
.dragsort .items .item p > a {
  color: #d6d6d6;
}
.dragsort .items .item:hover {
  background-color: #333;
  border-color: #333;
}
.overlay-container .overlay-right {
  background-color: #262626;
  border-left-color: #333;
}
.overlay-container .overlay-right h2 {
  color: #d6d6d6;
}
.overlay-container .overlay-right .close {
  background: transparent;
  color: #999;
  text-shadow: none;
}
.linklist ul li a {
  color: #039BE5;
}
.builder .container {
  background-color: #262626;
  border-color: #262626;
}
.builder .container .elements .element {
  border-color: #333;
  background-color: #222;
}
.builder .container a.add .glyphicon {
  color: #d6d6d6;
}
.builder .container a.add .glyphicon:hover {
  color: #039BE5;
}
.components .comp {
  background-color: #262626;
  border-color: #333;
}
.components .comp p {
  color: #999;
}
.components .comp:hover {
  background-color: #333;
}
.grid .block.active {
  background-color: #333;
  border-color: #262626;
}
.grid .block.active .img {
  background-color: #333;
}
.grid .block {
  border-color: #262626;
}
.grid .block .img {
  background-color: #262626;
}
.panel-group .panel {
  border-color: #333;
  background-color: #262626;
}
.panel-group .panel-heading {
  background-color: #333;
}
.panel-group .panel-heading h4 {
  color: #d6d6d6;
}
.panel-body {
  background-color: #262626;
  border-color: #333;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-color: #333;
}
