a.btn, button.btn, .subactions a {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    padding: 13px 26px;
    background-color: rgba(0,0,0,0.05);

    &:hover {
        background-color: rgba(0,0,0,0.07);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    }

    &.btn-xs {
        padding: 7px 12px;
        font-size: 10px;
    }


    &.btn-icon-container {
        padding: 0;
        background: transparent;

        i {
            opacity: 0.6;
            transition: 300ms;
        }
        &:hover i {
            opacity: 1;
        }
    }

    &.btn-danger {
        background-color: @color-danger;
    }

    &.btn-primary {
        text-align: center;
        background-color: @color-gray-dark;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
        border: 1px solid @color-gray-dark;
        border-raus: 3px;
        transition: 300ms;
        color: #FFFFFF;

        &:hover {
            box-shadow: 0 2px 7px 0 rgba(0,0,0,0.25);
            background-color: lighten(@color-gray-dark, 10%);
        }
    }

    &.btn-discreet {
        background-color: transparent;
        color: @color-gray-dark;

        &:hover {
            background-color: transparent;   
        }
    }

}
