.form-group {
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;

    input[type="text"],
    input[type="input"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="datetime"] {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
        border:none;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        padding: 5px 0;
        font-size: 13px;

        &:focus, &:hover {
            background-color: transparent;
            box-shadow: none;
        }
    }
    label {
        transition: 300ms;
        color: @color-gray;
        font-weight: normal;
        position: absolute;
        top: 18px;
        font-size: 13px;

        &.control-label.wysiwyg {
            position: static;
            font-size: 15px;
            margin-top: 20px;
            font-weight: 500;
            margin-bottom: 0;
            padding: 10px;
            color: @color-gray;
            background-color: @color-gray-light;
            display: block;
        }
    }

    &.checkbox {
        label {
            margin-left: 30px;
            padding-left: 0;
        }
        small {
            position: relative;
            left: 30px;
            top: 25px;
        }
        margin-bottom: 40px;
    }
    input[type="checkbox"] {
        width: auto;
        height: auto;
        position: absolute;
        margin-top: 10px;
        margin-left: 0;
        left: 0;
        box-shadow: none;

        &:focus, &:hover {
            box-shadow: none;
            -webkit-box-shadow: 0px 0px 5px 0px @color-grey-medium;
            -moz-box-shadow: 0px 0px 5px 0px @color-grey-medium;
            box-shadow: 0px 0px 5px 0px @color-grey-medium;
        }
    }

    label + textarea {
        margin-top: 10px;
        height: 80px;
        border-radius: 0px;
        box-shadow: none;

        &:focus {
            box-shadow: none;
            border-color: @color-gray;
        }
    }


    &.select {
        margin-bottom: 30px;

        &:not(.contains-chosen):after {
            content: 'arrow_drop_down';
            position: absolute;
            right: 0;
            font-size: 18px;
            top: 15px;
            font-family: 'Material Icons';
            z-index: 1;
        }
        select {
            position: relative;
            z-index: 2;
        }

        label ~ .chosen-container {
            margin-top: 10px;
        }
    }

    select {
        border-radius: 0px;
        position: relative;
        padding-left: 0;
        border-top: none;
        box-shadow: none;
        border-left: 0;
        border-right: 0;
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;

        &:focus {
            box-shadow: none;
            border-color: inherit;
        }
    }

    &.select,
    &.focus {
        label {
            color: @color-gray-middle;
            font-size: 11px;
            top: 0px;
        }
    }

    /* REPEATER FIELD START */
    .forge-template {
        display: none;
    }

    .repeater-field-wrapper {
        .repeater-content > li {
            padding: 2rem;
            border: 1px solid @color-gray-middle;
        }
        .material-icons {
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
             -webkit-user-select: none; /* Safari */
              -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                 -ms-user-select: none; /* Internet Explorer/Edge */
                     user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }
        .controls {
            .control {
                float: left;
                display: inline-block;
            }
        }
    }
    /* REPEATER FIELD END */

    small {
        color: @color-gray-middle;
        font-size: 80%;
        font-style: italic;
    }
}
.img-select {
    margin-top: 30px;
    > .form-group {
        padding: 0;
        margin: 0;
    }
}

.file-upload-default {
    .form-group {
        display: flex;
        margin: 0;

        .current-content {
            margin-right: 20px;
            height: 80px;
            width: 80px;

            > img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        input {
            padding: 25px 0;
        }
    }
}