.overlay-right .page-header {
    margin-top: 5px;
    margin-bottom: 0;
}
.page-header {
    border-bottom: 0;
    margin-bottom: 50px;
    margin-top: 65px;

    > .col-lg-12 {
        min-height: 50px;
        align-items: center;

        .actions {
            position: absolute;
            right: 0;
        }
    }

    a.back {
        color: @color-gray-middle;
        position: absolute;
        top: -5px;
        font-size: 80%;
        text-transform: uppercase;
        font-weight: 500;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions .form-group {
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }

        h1 {
            margin: 0;
            color: @color-gray-dark;
        }

        position: relative;
        .subnavigation {
            position: absolute;
            left: 15px;
            top: 50px;

            a {
                font-size: 13px;
                padding: 8px 10px;
                border-radius: 5px;
                color: #686868;
                font-weight: 500;
                margin-right: 10px;
                line-height: 25px;

                &:first-child {
                    margin-left: -10px;
                }

                &:hover, &:focus {
                    text-decoration: none;
                    background-color: rgba(0,0,0,0.06);
                }

                &.active {
                    background-color: rgba(0,0,0,0.04);
                }
            }
        }
    }
}
