.table-editbar {
    background-color: #fafafa;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    display: flex;
    justify-content:space-between;
    padding: 5px 20px;

    .left, .right {
        display: flex;
    }

    .left .form-group {
        input, &.select {
            border-right: 1px solid rgba(0,0,0,0.12);
        }
    }
    .right .form-group {
        input, &.select {
            border-left: 1px solid rgba(0,0,0,0.12);
        }
    }

    .form-group {
        margin: 0;
        padding: 0;
        min-width: 240px;

        &.focus label {
            top: 0;          
        }

        label {
            top: 9px;          
        }

        input {
            border-bottom: none;
            padding-bottom: 0;
            padding-top: 12px;
        }

        &.select {
            padding: 0 10px;
            &:after {
                top: 4px;
            }
            label {
                top: 0;
            }
            select {
                border-bottom: 0;
                padding-bottom: 0;
                padding-top: 12px;
            }
        }
    }
}
