<div class="form-group {if="$hor"}row{/if}">
    <label class='control-label{if="$hor"} col-lg-3{/if}{if="$noautocomplete"} readOnlyInput{/if}' for="{$id}">{$label}</label>
{if="$hor"}
    <div class="col-lg-9">
{/if}
    <input class="form-control{if="$error"} has-error{/if}" id="{$id}" name="{$name}" type="{$type}"
        {if="$type=='radio'"}
            {if="$value=='on'"}checked="checked"{/if}
        {/if}
        {if="$type=='checkbox'"}
            {if="$value=='on'"}checked="checked"{/if}
        {/if}
        {if="$noautocomplete"} readonly onfocus="this.removeAttribute('readonly');"{/if}
        {if="$value"}value="{$value}"{/if}>
        {if="$error"}<small class="clearfix error-message">{$error}</small>{/if}
    {if="$hint"}<small class="clearfix">{$hint}</small>{/if}
{if="$hor"}
    </div>
{/if}    
</div>