<div class="maxed ajax-reload-container" id="builder-content">
    <div class="row page-header">
        <div class="col-lg-9">
            <a class="back" href="{$backurl}">{$backname}</a>
            <h1>{$title}</h1>
        </div>
        <div class="col-lg-3">
            <a href="{$saveurl}" data-form="page-form" class="ajax form btn btn-primary btn-sm">{$savetext}</a>
        </div>
    </div>
    <form method="post" action="" id="page-form">
        <input type="hidden" name="pageid" value="{$pageid}">
        <input type="hidden" name="language" value="{$lang}">
        <div class="row">
            <div class="col-lg-9">
                {$panel_left}
                <div class="builder">
                    <div class="container">
                        <!-- display existing elements -->
                        <div class="elements">
                        {loop="$elements"}
                            <div class="element {$value.type}" data-id="{$value.id}">
                                <div class="self">
                                    <h4>{$value.name}</h4>
                                    <div class="actions">
                                        <a href="{$value.edit.link}" class="ajax slidein">{$value.edit.name}</a>
                                        <a href="{$value.remove.link}" class="ajax slidein">{$value.remove.name}</a>
                                    </div>
                                </div>
                                {if="$value.container"}
                                <a href="{$value.addcontent}" class="add ajax slidein">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <div class="content inner">
                                </div>
                                {/if}
                            </div>
                        {/loop}
                        </div>
                        <!-- add new item button -->
                        <a href="{$new_url}" class="add ajax slidein">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {$panel_right}
            </div>
        </div>
    </form>
</div>
