<form action="{$upload_handler_url}" class="dropzone" id="forgedropzone" data-redirect="{$redirect_url}">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>

</div> <!-- end column from parent template -->
</div> <!-- end row form parent template -->
<div class="row">
<div class="col-lg-12">

<div class="media-library">
    {loop="$media"}
        <a href="javascript://" data-open="{$value.detail}" class="open-overlay">
            {if="$value.image"}
                <img src="{$value.image}" title="{$value.title}" />
            {else}
                <div class="{$value.mime}">{$value.title}</div>
            {/if}
        </a>
    {/loop}
</div>
